{% liquid
  assign main_menu            = section.settings.main_menu
  assign sub_menu             = section.settings.sub_menu
  assign collection_link_text = section.settings.collection_link_text
  assign blocks               = section.blocks
  assign logo                 = section.settings.logo_image
  assign announcement         = section.settings.announcement
  assign announcement_title   = section.settings.announcement_title
  assign pnone_number         = section.settings.phone_number
%}

{% style %}
  .header {
    position: sticky !important;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition-delay: 0.2s;
    transition-duration: 0.7s;
  }
  #header .active-item {
    position: relative;
  }
  #header .active-item:before {
    content: "";
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #171717;
    border-radius: 5px;
  }
  #header .header__submenu-item:hover .border-bottom {
    display: block;
  }
  #header .header__submenu-item:hover .desktop-sub-menu {
    opacity: 1;
    visibility: visible;
  }

  #header .border-bottom:before {
    content: "";
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2px;
    background-color: #171717;
    border-radius: 5px;
  }
{% endstyle %}

<div
        id="header"
        class="!bg-white"
        @scroll.window="$store.header.onScroll()"
>
{% if announcement %}
  <div class="relative z-10 bg-black-primary text-white text-xs text-center p-2 tracking-[0.2px]">
    {{ announcement_title }}
  </div>
{% endif %}

  <div class="relative !bg-white z-10 border-b border-gray-additional">
    <div class="flex justify-between items-center h-[73px] lg-1:h-[55px] h-[52px] container">
      <ul class="w-full lg-1:w-1/3 hidden lg-1:flex items-center flex-wrap text-sm leading-[55px] font-bold lg-1:border-none border-solid border-b border-gray-additional">
        {% for link in main_menu.links %}
          <li class="mr-[17px] {% if forloop.index0 == 0 %}active-item{% endif %}">
            {{ link.title | link_to: "#" }}
          </li>
        {% endfor %}
      </ul>
      <div class="header-menu-icon lg-1:hidden w-[30%] h-6">
        <span class="relative">
          <img src="{{ 'header-opener.static.svg' | asset_url }}" @click="$store.header.toggleMobileMenu()" class="open-menu h-6 w-6 duration-300" alt="menu open">
          <img src="{{ 'menu-close.static.svg' | asset_url }}" @click="$store.header.toggleMobileMenu()" class="opacity-0 invisible hidden close-menu h-6 w-6 duration-300" alt="menu close">
        </span>
      </div>

      <a class="header-logo lg-1:w-1/3 w-[40%] flex items-center justify-center lg-1:h-[26px] h-[20px]" href="#">
        <img src="{{ logo | img_url: 'master' }}" alt="logo" class="w-full h-full object-contain">
      </a>
      <div class="search-wrapper lg-1:w-1/3 w-[30%] flex items-center justify-end">
        <div class="search flex w-[32px] items-center mr-1.5 relative h-[32px] !bg-white">
          <div class="search-logo cursor-pointer duration-300" @click="$store.header.searchPanelToggle()">
            <img src="{{ 'search-icon.static.svg' | asset_url }}" class="search__img" alt="search goods open">
          </div>
          <input class="outline-none duration-300 opacity-0 invisible hidden w-auto search-input w-full cursor-pointer text-xs pl-2 border-none cursor-pointer" type="text" placeholder="Искать товары, бренды...">
          <div class="search-close-icon hidden duration-300 opacity-0 invisible cursor-pointer absolute right-0" @click="$store.header.searchPanelToggle()">
            <img src="{{ 'menu-close.static.svg' | asset_url }}" class="search__img" alt="search goods close">
          </div>
        </div>

        <a href="#" class="flex">
          <div class="w-[24px] h-[24px]">
            <img src="{{ 'basket-icon.static.svg' | asset_url }}" class="w-full h-full object-contain" alt="basket">
          </div>
          <div class="font-semibold text-xs lg-1:mt-1 mt-1.5">{{ cart.item_count }}</div>
        </a>
      </div>
    </div>
  </div>
  <div class="mobile-menu absolute flex flex-col justify-between lg-1:hidden w-full min-h-screen duration-300 !bg-white translate-y-[-full]">
    <div>
      <ul class="w-full flex items-center flex-wrap text-sm leading-[52px] font-bold lg-1:border-none border-solid border-b border-gray-additional">
        {% for link in main_menu.links %}
          <li class="lg-1:mr-[17px] mr-0 lg-1:w-auto w-1/2 flex justify-center {% if forloop.index0 == 0 %}active-item{% endif %}">
            {{ link.title | link_to: "#" }}
          </li>
        {% endfor %}
      </ul>

      <div class="container">
        <ul class="flex leading-8 mt-[8px] flex-col text-sm">
          {% for link in sub_menu.links %}
            <li class="header__submenu-item w-full border-b border-gray-additional leading-[52px]">
              <div class="flex justify-between items-center w-full font-bold">
                {{ link.title }}
                {% if link.links[0].links.size > 1 %}
                  <span class="header__submenu-item-sign">
                    <img src="{{ 'submenu-item-open.svg' | asset_url }}" @click="$store.header.openSubMenu($event)" class="open" alt="nav opener">
                    <img src="{{ 'submenu-item-close.svg' | asset_url }}" @click="$store.header.closeSubMenu($event)" class="close hidden" alt="nav opener">
                  </span>
                {% endif %}
              </div>

              {% if link.links[0].links.size > 1 %}
                <ul class="submenu-list ml-2 mt-[-3px] pb-[10px] hidden">
                  {% for sub_link in link.links[0].links %}
                    <li class="leading-9 text-sm gray-primary">
                      {{ sub_link.title | link_to: "#" }}
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="sticky !bg-white bottom-0 h-[50px] border border-gray-additional tracking-[-0.2px]">
      <div class="container h-full flex justify-between items-center text-sm font-bold uppercase mt-1">
        <div class="cursor-pointer black-primary">
          {{ pnone_number }}
        </div>

        <div class="gray-additional mr-1">
          <span class="header__mobile-menu-lang black-primary">ru</span>
          <span class="header__mobile-menu-hug">|</span>
          <span class="header__mobile-menu-lang">ua</span>
        </div>
      </div>
    </div>
  </div>

  <div class="relative border-b border-gray-additional hidden lg-1:block">
    <div class="flex justify-center items-center container">
      <ul class="header-submenu-list flex text-base font-bold text-black-primary tracking-[-1px] leading-[42px] ml-6">
        {% for link in sub_menu.links %}
          {% assign collection = blocks[forloop.index0].settings.collection %}

          <li class="header__submenu-item mr-6 overflow-hidden">
            <a href="#">
              {{ link.title | link_to: link.url }}
            </a>
            <div class="border-bottom relative hidden"></div>

            {% if link.links.size > 0 %}
              <div class="desktop-sub-menu opacity-0 invisible absolute left-0 w-full !bg-white-primary mt-px z-10 flex justify-between duration-300 pt-[12px] pr-[164px] pl-[156px] pb-[22px] !bg-white">
                <div class="flex justify-between flex-wrap">
                  {% for sub-link in link.links %}
                    <div class="m-2 w-[208px]">
                      <div class="text-[15px] tracking-[-0.6px]">{{ sub-link.title | link_to: "#" }}</div>

                      <ul class="tracking-[-0.2px]">
                        {% for sub-item in sub-link.links %}
                          <li class="font-normal text-sm leading-[31px] gray-primary">
                            {{ sub-item.title | link_to: "#" }}
                          </li>
                        {% endfor %}
                      </ul>
                    </div>
                  {% endfor %}
                </div>

                <div class="w-[328px] mt-5">
                  <div class="w-full h-[380px]">
                    <img src="{{ collection.image | img_url: 'master' }}" alt="{{ collection.title }}">
                  </div>

                  <p class="mt-1 text-[17px] tracking-[-1.2px]">
                    {{ collection.title }}
                  </p>

                  <a href="#" class="block font-semibold tracking-[-0.6px] border-b border-black-primary w-max leading-[22px] mt-[-2px]">
                    {{ collection_link_text }}
                  </a>
                </div>
              </div>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "t:sections.header.name",
    "tag": "header",
    "class": "header",
    "settings": [
      {
        "type": "checkbox",
        "id": "announcement",
        "label": "Announcement",
        "default": true
      },
      {
        "type": "text",
        "id": "announcement_title",
        "label": "Announcement title"
      },
      {
        "type": "paragraph",
        "content": "t:sections.header.settings.paragraph"
      },
      {
        "type": "link_list",
        "id": "main_menu",
        "label": "Main menu"
      },
      {
        "type": "link_list",
        "id": "sub_menu",
        "label": "Sub-menu"
      },
      {
        "type": "text",
        "id": "collection_link_text",
        "label": "Collection link text",
        "default": "В каталог"
      },
      {
        "type": "image_picker",
        "id": "logo_image",
        "label": "Logo"
      },
      {
        "type": "text",
        "id": "phone_number",
        "label": "Phone number"
      }
    ],
    "blocks": [
      {
        "type": "collection",
        "name": "Collection",
        "settings": [
          {
            "type": "collection",
            "id": "collection",
            "label": "Collection",
            "info": "Коллекции привязанны к [элементам навигации](https://www.shopify.com/admin/menus) в порядке очередности. То есть первая коллекция выведется в выпадающем меню первого элемента навигации. Создайте блок, не выбирая коллекцию, если нет необходимости выводить коллекию в выпадающем меню"
          }
        ]
      }
    ]
  }
{% endschema %}
